## Part 1: Goals and General df merge
*** The version of the notebook server used is: 6.5.2****
*** First step is merging both goal and general datasets.***

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.cm as cm
import seaborn as sns

## GGoals dataframe

In [2]:
# Import the data frame
goal_stats = pd.read_csv('ggoals_final.csv')

In [3]:
goal_stats.head()

,...1,date,campaign,audience,creative_family,creative_version,platform,ad_format,goal,completions,campaign_traffic,days_away,latest_report
0,0,2022-04-01,(not set),NaN,NaN,NaN,NaN,NaN,Learn More (Community Mortgage),2.0,General traffic,213.0,0.0
1,1,2022-04-01,(not set),NaN,NaN,NaN,NaN,NaN,Form Submission,2.0,General traffic,213.0,0.0
2,2,2022-04-01,(not set),NaN,NaN,NaN,NaN,NaN,Home Page Video Play,1.0,General traffic,213.0,0.0
3,3,2022-04-01,(not set),NaN,NaN,NaN,NaN,NaN,Learn More (Closer Twins Banner),1.0,General traffic,213.0,0.0
4,4,2022-04-01,(not set),NaN,NaN,NaN,NaN,NaN,Learn More (Community Mortgage),18.0,General traffic,213.0,0.0

In [4]:
# View datatypes
goal_stats.dtypes

...1                  int64
date                 object
campaign             object
audience            float64
creative_family      object
creative_version     object
platform             object
ad_format            object
goal                 object
completions         float64
campaign_traffic     object
days_away           float64
latest_report       float64
dtype: object

In [5]:
# Chnage datatype from float 64 to object
goal_stats['audience'] = goal_stats['audience'].astype(str)

# Verify the data type change
print(goal_stats.dtypes)

...1                  int64
date                 object
campaign             object
audience             object
creative_family      object
creative_version     object
platform             object
ad_format            object
goal                 object
completions         float64
campaign_traffic     object
days_away           float64
latest_report       float64
dtype: object

In [6]:
# View datatypes again
goal_stats.dtypes

...1                  int64
date                 object
campaign             object
audience             object
creative_family      object
creative_version     object
platform             object
ad_format            object
goal                 object
completions         float64
campaign_traffic     object
days_away           float64
latest_report       float64
dtype: object

In [7]:
# replace the NAs with an 'NA' 

goal_stats_NAfilled = goal_stats.fillna('NA')

In [8]:
# how many observations are there?
len(goal_stats_NAfilled)

16511

In [9]:
# look at the top 20 observations
goal_stats_NAfilled.head()

,...1,date,campaign,audience,creative_family,creative_version,platform,ad_format,goal,completions,campaign_traffic,days_away,latest_report
0,0,2022-04-01,(not set),nan,NA,NA,NA,NA,Learn More (Community Mortgage),2.0,General traffic,213.0,0.0
1,1,2022-04-01,(not set),nan,NA,NA,NA,NA,Form Submission,2.0,General traffic,213.0,0.0
2,2,2022-04-01,(not set),nan,NA,NA,NA,NA,Home Page Video Play,1.0,General traffic,213.0,0.0
3,3,2022-04-01,(not set),nan,NA,NA,NA,NA,Learn More (Closer Twins Banner),1.0,General traffic,213.0,0.0
4,4,2022-04-01,(not set),nan,NA,NA,NA,NA,Learn More (Community Mortgage),18.0,General traffic,213.0,0.0

## Create a groupby and aggregate database
*** This will be for the merging of the general database***

In [10]:
# Group by and aggregate, removing goals and campaign
ggoals_harmony_grouped = goal_stats_NAfilled.groupby(['date', 'audience', 'creative_family', 'creative_version', 
                                       'platform', 'ad_format', 'campaign_traffic']).agg({'completions': 'sum'}).reset_index()

In [11]:
ggoals_harmony_grouped.head(10)

,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,completions
0,2022-04-01,6.0,CloserTwins,OTT_30,OTT,Video,Campaign,6.0
1,2022-04-01,6.0,CloserTwins,RTB,Trade Media,Inside_mortgage_finance_newsletter,Campaign,4.0
2,2022-04-01,nan,NA,NA,NA,NA,General traffic,240.0
3,2022-04-02,nan,NA,NA,NA,NA,General traffic,46.0
4,2022-04-03,6.0,CloserTwins,RTB,Trade Media,Inside_mortgage_finance_newsletter,Campaign,2.0
5,2022-04-03,nan,NA,NA,NA,NA,General traffic,45.0
6,2022-04-03,nan,newsletter,300x250,NA,NA,General traffic,2.0
7,2022-04-04,6.0,CloserTwins,OTT_30,OTT,Video,Campaign,2.0
8,2022-04-04,6.0,CloserTwins,RTB,Trade Media,Inside_mortgage_finance_newsletter,Campaign,9.0
9,2022-04-04,6.0,Trade Media Ads,ROS1,Trade Media,Housingwire,Campaign,5.0

In [12]:
# how many observations are there?
len(ggoals_harmony_grouped)

1211

In [13]:
# Create a new column by concatenating specific columns
ggoals_harmony_grouped['concatenated'] = ggoals_harmony_grouped.apply(
    lambda row: f"{row['date']}_{row['campaign_traffic']}_{row['audience']}_{row['creative_family']}_{row['creative_version']}_{row['platform']}_{row['ad_format']}",
    axis=1
)

ggoals_harmony_grouped.head()

,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,completions,concatenated
0,2022-04-01,6.0,CloserTwins,OTT_30,OTT,Video,Campaign,6.0,2022-04-01_Campaign_6.0_CloserTwins_OTT_30_OTT...
1,2022-04-01,6.0,CloserTwins,RTB,Trade Media,Inside_mortgage_finance_newsletter,Campaign,4.0,2022-04-01_Campaign_6.0_CloserTwins_RTB_Trade ...
2,2022-04-01,nan,NA,NA,NA,NA,General traffic,240.0,2022-04-01_General traffic_nan_NA_NA_NA_NA
3,2022-04-02,nan,NA,NA,NA,NA,General traffic,46.0,2022-04-02_General traffic_nan_NA_NA_NA_NA
4,2022-04-03,6.0,CloserTwins,RTB,Trade Media,Inside_mortgage_finance_newsletter,Campaign,2.0,2022-04-03_Campaign_6.0_CloserTwins_RTB_Trade ...

In [14]:
# Create a CSV file as output.
ggoals_harmony_grouped.to_csv('ggoals_harmony_grouped.csv')

## General Database concatenation

In [15]:
# Import the data frame
general_df = pd.read_csv('ggeneral_final.csv')

In [16]:
general_df.head()

,...1,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,latest_report
0,0,2022-08-16,NaN,CloserTwins,Cutdown1A,Domain Display,Video,Campaign,1.0,0,73.0,76,0
1,1,2022-06-16,3.0,CloseFaster,NoDTI,Facebook,Single image,Campaign,1.0,0,0.0,137,0
2,2,2022-08-29,1.0,CloseFaster,MoreAll,User ID Display,NaN,Campaign,2.0,0,0.0,63,0
3,3,2022-06-09,4.0,UnfairAdvantage,one_page,LinkedIn,Single image,Campaign,2.0,0,50.0,144,0
4,4,2022-08-03,1.0,UnfairAdvantage,1099,Domain Display,Single image,Campaign,1.0,0,0.0,89,0

In [17]:
# Verify the data types change
general_df.dtypes

...1                  int64
date                 object
audience            float64
creative_family      object
creative_version     object
platform             object
ad_format            object
campaign_traffic     object
total_sessions      float64
total_bounces         int64
total_duration      float64
days_away             int64
latest_report         int64
dtype: object

In [18]:
# Change datatype of audience from float 64 to object
general_df['audience'] = general_df['audience'].astype(str)

# Verify the data type change
print(general_df.dtypes)

...1                  int64
date                 object
audience             object
creative_family      object
creative_version     object
platform             object
ad_format            object
campaign_traffic     object
total_sessions      float64
total_bounces         int64
total_duration      float64
days_away             int64
latest_report         int64
dtype: object

In [19]:
# Replace "(not set)" with "NA" in the 'creative_family' column
general_df['creative_family'] = general_df['creative_family'].replace("(not set)", "NA")

In [20]:
# replace the NAs with an 'NA' 

general_df_NAfilled = general_df.fillna('NA')
general_df_NAfilled.head()

,...1,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,latest_report
0,0,2022-08-16,nan,CloserTwins,Cutdown1A,Domain Display,Video,Campaign,1.0,0,73.0,76,0
1,1,2022-06-16,3.0,CloseFaster,NoDTI,Facebook,Single image,Campaign,1.0,0,0.0,137,0
2,2,2022-08-29,1.0,CloseFaster,MoreAll,User ID Display,NA,Campaign,2.0,0,0.0,63,0
3,3,2022-06-09,4.0,UnfairAdvantage,one_page,LinkedIn,Single image,Campaign,2.0,0,50.0,144,0
4,4,2022-08-03,1.0,UnfairAdvantage,1099,Domain Display,Single image,Campaign,1.0,0,0.0,89,0

In [21]:
# Create a new column by concatenating specific columns
general_df_NAfilled['concatenated'] = general_df_NAfilled.apply(
    lambda row: f"{row['date']}_{row['campaign_traffic']}_{row['audience']}_{row['creative_family']}_{row['creative_version']}_{row['platform']}_{row['ad_format']}",
    axis=1
)

general_df_NAfilled.head()

,...1,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,latest_report,concatenated
0,0,2022-08-16,nan,CloserTwins,Cutdown1A,Domain Display,Video,Campaign,1.0,0,73.0,76,0,2022-08-16_Campaign_nan_CloserTwins_Cutdown1A_...
1,1,2022-06-16,3.0,CloseFaster,NoDTI,Facebook,Single image,Campaign,1.0,0,0.0,137,0,2022-06-16_Campaign_3.0_CloseFaster_NoDTI_Face...
2,2,2022-08-29,1.0,CloseFaster,MoreAll,User ID Display,NA,Campaign,2.0,0,0.0,63,0,2022-08-29_Campaign_1.0_CloseFaster_MoreAll_Us...
3,3,2022-06-09,4.0,UnfairAdvantage,one_page,LinkedIn,Single image,Campaign,2.0,0,50.0,144,0,2022-06-09_Campaign_4.0_UnfairAdvantage_one_pa...
4,4,2022-08-03,1.0,UnfairAdvantage,1099,Domain Display,Single image,Campaign,1.0,0,0.0,89,0,2022-08-03_Campaign_1.0_UnfairAdvantage_1099_D...

In [22]:
# Create a CSV file as output.
general_df_NAfilled.to_csv('general_df_NAfilled.csv')

In [23]:
# Merging the two dataframes together
goal_general_merge = general_df_NAfilled.merge(ggoals_harmony_grouped[['concatenated', 'completions']], 
                                               on='concatenated',how='left')
# Print the merged DataFrame
print(goal_general_merge)

        ...1        date audience  creative_family creative_version  \
0          0  2022-08-16      nan      CloserTwins        Cutdown1A
1          1  2022-06-16      3.0      CloseFaster            NoDTI
2          2  2022-08-29      1.0      CloseFaster          MoreAll
3          3  2022-06-09      4.0  UnfairAdvantage         one_page
4          4  2022-08-03      1.0  UnfairAdvantage             1099
...      ...         ...      ...              ...              ...
13016  13189  2022-05-06      4.0      CloserTwins        Cutdown1B
13017  13190  2022-06-01      1.0  UnfairAdvantage            NoDTI
13018  13191  2022-04-23      2.0  UnfairAdvantage         one_page
13019  13192  2022-09-07      3.0      CloserTwins        EarlyBird
13020  13193  2022-04-11      nan               NA               NA

              platform     ad_format campaign_traffic total_sessions  \
0       Domain Display         Video         Campaign            1.0
1             Facebook  Single image         Campaign            1.0
2      User ID Display            NA         Campaign            2.0
3             LinkedIn  Single image         Campaign            2.0
4       Domain Display  Single image         Campaign            1.0
...                ...           ...              ...            ...
13016         LinkedIn         Video         Campaign            3.0
13017   Domain Display  Single image         Campaign            1.0
13018   Domain Display            NA         Campaign            1.0
13019         LinkedIn  Single image         Campaign            1.0
13020               NA            NA  General traffic         1565.0

       total_bounces  total_duration  days_away  latest_report  \
0                  0            73.0         76              0
1                  0             0.0        137              0
2                  0             0.0         63              0
3                  0            50.0        144              0
4                  0             0.0         89              0
...              ...             ...        ...            ...
13016              0           252.0        178              0
13017              0             2.0        152              0
13018              0             0.0        191              0
13019              0             0.0         54              0
13020              0        169204.0        203              0

                                            concatenated completions
0      2022-08-16_Campaign_nan_CloserTwins_Cutdown1A_...         2.0
1      2022-06-16_Campaign_3.0_CloseFaster_NoDTI_Face...         NaN
2      2022-08-29_Campaign_1.0_CloseFaster_MoreAll_Us...         NaN
3      2022-06-09_Campaign_4.0_UnfairAdvantage_one_pa...         NaN
4      2022-08-03_Campaign_1.0_UnfairAdvantage_1099_D...         NaN
...                                                  ...         ...
13016  2022-05-06_Campaign_4.0_CloserTwins_Cutdown1B_...         NaN
13017  2022-06-01_Campaign_1.0_UnfairAdvantage_NoDTI_...         NaN
13018  2022-04-23_Campaign_2.0_UnfairAdvantage_one_pa...         NaN
13019  2022-09-07_Campaign_3.0_CloserTwins_EarlyBird_...         NaN
13020         2022-04-11_General traffic_nan_NA_NA_NA_NA       290.0

[13021 rows x 15 columns]

In [24]:
goal_general_merge.head(30)

,...1,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,latest_report,concatenated,completions
0,0,2022-08-16,nan,CloserTwins,Cutdown1A,Domain Display,Video,Campaign,1.0,0,73.0,76,0,2022-08-16_Campaign_nan_CloserTwins_Cutdown1A_...,2.0
1,1,2022-06-16,3.0,CloseFaster,NoDTI,Facebook,Single image,Campaign,1.0,0,0.0,137,0,2022-06-16_Campaign_3.0_CloseFaster_NoDTI_Face...,NaN
2,2,2022-08-29,1.0,CloseFaster,MoreAll,User ID Display,NA,Campaign,2.0,0,0.0,63,0,2022-08-29_Campaign_1.0_CloseFaster_MoreAll_Us...,NaN
3,3,2022-06-09,4.0,UnfairAdvantage,one_page,LinkedIn,Single image,Campaign,2.0,0,50.0,144,0,2022-06-09_Campaign_4.0_UnfairAdvantage_one_pa...,NaN
4,4,2022-08-03,1.0,UnfairAdvantage,1099,Domain Display,Single image,Campaign,1.0,0,0.0,89,0,2022-08-03_Campaign_1.0_UnfairAdvantage_1099_D...,NaN
5,5,2022-08-23,4.0,CloserTwins,MoreLoansAll,User ID Display,NA,Campaign,3.0,0,0.0,69,0,2022-08-23_Campaign_4.0_CloserTwins_MoreLoansA...,NaN
6,6,2022-06-14,5.0,CloserTwins,Faceoff,Domain Display,NA,Campaign,2.0,0,0.0,139,0,2022-06-14_Campaign_5.0_CloserTwins_Faceoff_Do...,NaN
7,7,2022-09-05,1.0,CloserTwins,MoreLoansAll,User ID Display,NA,Campaign,2.0,0,0.0,56,0,2022-09-05_Campaign_1.0_CloserTwins_MoreLoansA...,NaN
8,8,2022-08-30,nan,UnfairAdvantage,All,LinkedIn,Carousel,Campaign,2.0,0,0.0,62,0,2022-08-30_Campaign_nan_UnfairAdvantage_All_Li...,NaN
9,9,2022-06-15,6.0,SEM Ads,We Are America's CDFI,Google SEM,CPC,Campaign,5.0,0,184.0,138,0,2022-06-15_Campaign_6.0_SEM Ads_We Are America...,1.0
10,10,2022-05-05,nan,CloserTwins,EarlyBird,LinkedIn,Single image,Campaign,1.0,0,105.0,179,0,2022-05-05_Campaign_nan_CloserTwins_EarlyBird_...,NaN
11,11,2022-04-30,4.0,UnfairAdvantage,NoDTI,LinkedIn,Single image,Campaign,1.0,0,0.0,184,0,2022-04-30_Campaign_4.0_UnfairAdvantage_NoDTI_...,NaN
12,12,2022-09-27,4.0,UnfairAdvantage,one_page,Domain Display,NA,Campaign,2.0,0,0.0,34,0,2022-09-27_Campaign_4.0_UnfairAdvantage_one_pa...,NaN
13,13,2022-10-13,4.0,CloserTwins,CloseMore,Domain Display,NA,Campaign,2.0,0,0.0,18,0,2022-10-13_Campaign_4.0_CloserTwins_CloseMore_...,NaN
14,14,2022-05-31,6.0,Trade Media Ads,ROS5,Trade Media,Housingwire,Campaign,4.0,0,1403.0,153,0,2022-05-31_Campaign_6.0_Trade Media Ads_ROS5_T...,9.0
15,15,2022-09-09,1.0,CloserTwins,Faceoff,Domain Display,NA,Campaign,1.0,0,0.0,52,0,2022-09-09_Campaign_1.0_CloserTwins_Faceoff_Do...,NaN
16,16,2022-05-03,nan,UnfairAdvantage,one_page,Domain Display,NA,Campaign,1.0,0,0.0,181,0,2022-05-03_Campaign_nan_UnfairAdvantage_one_pa...,NaN
17,17,2022-09-25,5.0,CloserTwins,Faceoff,Domain Display,NA,Campaign,8.0,0,0.0,36,0,2022-09-25_Campaign_5.0_CloserTwins_Faceoff_Do...,NaN
18,18,2022-07-02,4.0,CloserTwins,CloseMore,Domain Display,NA,Campaign,3.0,0,0.0,121,0,2022-07-02_Campaign_4.0_CloserTwins_CloseMore_...,NaN
19,19,2022-06-04,4.0,UnfairAdvantage,one_page,Domain Display,NA,Campaign,1.0,0,0.0,149,0,2022-06-04_Campaign_4.0_UnfairAdvantage_one_pa...,NaN
20,20,2022-07-23,4.0,CloserTwins,Competitors,Domain Display,NA,Campaign,NA,0,0.0,100,0,2022-07-23_Campaign_4.0_CloserTwins_Competitor...,NaN
21,21,2022-08-21,1.0,CloserTwins,EarlyBird,LinkedIn,Single image,Campaign,1.0,0,0.0,71,0,2022-08-21_Campaign_1.0_CloserTwins_EarlyBird_...,NaN
22,22,2022-06-17,2.0,UnfairAdvantage,NoDTI,Domain Display,Single image,Campaign,1.0,0,0.0,136,0,2022-06-17_Campaign_2.0_UnfairAdvantage_NoDTI_...,NaN
23,23,2022-07-30,5.0,UnfairAdvantage,one_page,LinkedIn,Single image,Campaign,1.0,0,0.0,93,0,2022-07-30_Campaign_5.0_UnfairAdvantage_one_pa...,NaN
24,24,2022-05-24,1.0,CloserTwins,Namaste,Facebook,Video,Campaign,2.0,0,0.0,160,0,2022-05-24_Campaign_1.0_CloserTwins_Namaste_Fa...,NaN
25,25,2022-06-30,4.0,UnfairAdvantage,1099,Domain Display,Single image,Campaign,8.0,0,7.0,123,0,2022-06-30_Campaign_4.0_UnfairAdvantage_1099_D...,NaN
26,26,2022-09-09,3.0,UnfairAdvantage,1099,User ID Display,Single image,Campaign,17.0,0,0.0,52,0,2022-09-09_Campaign_3.0_UnfairAdvantage_1099_U...,NaN
27,27,2022-07-03,5.0,CloserTwins,interactive,Domain Display,NA,Campaign,1.0,1,0.0,120,0,2022-07-03_Campaign_5.0_CloserTwins_interactiv...,NaN
28,28,2022-07-12,5.0,UnfairAdvantage,NoDTI,Domain Display,Single image,Campaign,19.0,0,37.0,111,0,2022-07-12_Campaign_5.0_UnfairAdvantage_NoDTI_...,NaN
29,29,2022-04-16,6.0,CloserTwins,OTT_15,OTT,Video,Campaign,1.0,0,0.0,198,0,2022-04-16_Campaign_6.0_CloserTwins_OTT_15_OTT...,NaN

In [26]:
# Create a CSV file as output for merged.
goal_general_merge.to_csv('goal_general_merge.csv')

In [27]:
# Updated csv file with some slight amends, including NA consistency, andremove of second index column

Goal_General_Merge = pd.read_csv('goal_general_merge.csv')

In [28]:
# Top and bottom review
Goal_General_Merge.head()
Goal_General_Merge.tail()

,Unnamed: 0,...1,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,latest_report,concatenated,completions
13016,13016,13189,2022-05-06,4.0,CloserTwins,Cutdown1B,LinkedIn,Video,Campaign,3.0,0,252.0,178,0,2022-05-06_Campaign_4.0_CloserTwins_Cutdown1B_...,NaN
13017,13017,13190,2022-06-01,1.0,UnfairAdvantage,NoDTI,Domain Display,Single image,Campaign,1.0,0,2.0,152,0,2022-06-01_Campaign_1.0_UnfairAdvantage_NoDTI_...,NaN
13018,13018,13191,2022-04-23,2.0,UnfairAdvantage,one_page,Domain Display,NaN,Campaign,1.0,0,0.0,191,0,2022-04-23_Campaign_2.0_UnfairAdvantage_one_pa...,NaN
13019,13019,13192,2022-09-07,3.0,CloserTwins,EarlyBird,LinkedIn,Single image,Campaign,1.0,0,0.0,54,0,2022-09-07_Campaign_3.0_CloserTwins_EarlyBird_...,NaN
13020,13020,13193,2022-04-11,NaN,NaN,NaN,NaN,NaN,General traffic,1565.0,0,169204.0,203,0,2022-04-11_General traffic_nan_NA_NA_NA_NA,290.0

In [30]:
# Drop the specified columns
columns_to_drop = ['...1', 'latest_report', 'concatenated']
Goal_General_Merge = Goal_General_Merge.drop(columns=columns_to_drop)

Goal_General_Merge.head()

,Unnamed: 0,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,completions
0,0,2022-08-16,NaN,CloserTwins,Cutdown1A,Domain Display,Video,Campaign,1.0,0,73.0,76,2.0
1,1,2022-06-16,3.0,CloseFaster,NoDTI,Facebook,Single image,Campaign,1.0,0,0.0,137,NaN
2,2,2022-08-29,1.0,CloseFaster,MoreAll,User ID Display,NaN,Campaign,2.0,0,0.0,63,NaN
3,3,2022-06-09,4.0,UnfairAdvantage,one_page,LinkedIn,Single image,Campaign,2.0,0,50.0,144,NaN
4,4,2022-08-03,1.0,UnfairAdvantage,1099,Domain Display,Single image,Campaign,1.0,0,0.0,89,NaN

In [31]:
# Review the information
Goal_General_Merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13021 entries, 0 to 13020
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        13021 non-null  int64
 1   date              13021 non-null  object
 2   audience          12379 non-null  float64
 3   creative_family   12802 non-null  object
 4   creative_version  12744 non-null  object
 5   platform          12759 non-null  object
 6   ad_format         7922 non-null   object
 7   campaign_traffic  13021 non-null  object
 8   total_sessions    13020 non-null  float64
 9   total_bounces     13021 non-null  int64
 10  total_duration    13021 non-null  float64
 11  days_away         13021 non-null  int64
 12  completions       1068 non-null   float64
dtypes: float64(4), int64(3), object(6)
memory usage: 1.3+ MB

In [32]:
# Change datatype of audience from float 64 to object
Goal_General_Merge['audience'] = Goal_General_Merge['audience'].astype(str)

# Verify the data type change
print(Goal_General_Merge.dtypes)

Unnamed: 0            int64
date                 object
audience             object
creative_family      object
creative_version     object
platform             object
ad_format            object
campaign_traffic     object
total_sessions      float64
total_bounces         int64
total_duration      float64
days_away             int64
completions         float64
dtype: object

In [33]:
# Create a CSV file as output for the final merged.
Goal_General_Merge.to_csv('Goal_General_Merge_Final.csv')

## Part 2. Merge Creatives dataset with newly merged dataset from part 1
*** The version of the notebook server used is: 6.5.2****

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.cm as cm
import seaborn as sns

## Creative dataframe

In [2]:
# Import the data frame
creative = pd.read_csv('creative_final.csv')

In [3]:
creative.head()

,URL,campaign,ad_format,clicks,spend,creative_size,date,impressions,reach,audience,...,creative_family,creative_version,full_video_views,video_starts,follows,days_away,latest_report,CTR,CTR_score,weighted_CTR_score
0,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.26,NaN,2022-05-19,119.0,63.0,1.0,...,CloseFaster,NoDTI,NaN,NaN,NaN,165.0,0.0,0.000000,NaN,NaN
1,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.15,NaN,2022-05-19,9.0,8.0,1.0,...,CloseFaster,NoDTI,NaN,NaN,NaN,165.0,0.0,0.000000,NaN,NaN
2,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.38,NaN,2022-05-19,26.0,17.0,1.0,...,CloseFaster,NoDTI,NaN,NaN,NaN,165.0,0.0,0.000000,NaN,NaN
3,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.19,NaN,2022-05-19,12.0,10.0,1.0,...,CloseFaster,NoDTI,NaN,NaN,NaN,165.0,0.0,0.000000,NaN,NaN
4,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,1.0,3.62,NaN,2022-05-19,247.0,150.0,1.0,...,CloserTwins,EarlyBird,NaN,NaN,NaN,165.0,0.0,0.004049,NaN,NaN

In [4]:
# View datatypes
creative.dtypes

URL                    object
campaign               object
ad_format              object
clicks                float64
spend                 float64
creative_size          object
date                   object
impressions           float64
reach                 float64
audience              float64
platform               object
creative_family        object
creative_version       object
full_video_views      float64
video_starts          float64
follows               float64
days_away             float64
latest_report         float64
CTR                   float64
CTR_score             float64
weighted_CTR_score    float64
dtype: object

In [5]:
# turn audience to object
creative['audience'] = creative['audience'].astype(str)

In [6]:
# Convert 'date' column to datetime format with the current format
creative['date'] = pd.to_datetime(creative['date'])

creative.info()

creative.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101874 entries, 0 to 101873
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   URL                 14205 non-null   object
 1   campaign            101801 non-null  object
 2   ad_format           101774 non-null  object
 3   clicks              89996 non-null   float64
 4   spend               97904 non-null   float64
 5   creative_size       73290 non-null   object
 6   date                101873 non-null  datetime64[ns]
 7   impressions         101873 non-null  float64
 8   reach               80823 non-null   float64
 9   audience            101874 non-null  object
 10  platform            101873 non-null  object
 11  creative_family     100990 non-null  object
 12  creative_version    101348 non-null  object
 13  full_video_views    24447 non-null   float64
 14  video_starts        25460 non-null   float64
 15  follows             8400 non-null    float64
 16  days_away           101873 non-null  float64
 17  latest_report       101873 non-null  float64
 18  CTR                 89074 non-null   float64
 19  CTR_score           75013 non-null   float64
 20  weighted_CTR_score  75013 non-null   float64
dtypes: datetime64[ns](1), float64(12), object(8)
memory usage: 16.3+ MB

,URL,campaign,ad_format,clicks,spend,creative_size,date,impressions,reach,audience,...,creative_family,creative_version,full_video_views,video_starts,follows,days_away,latest_report,CTR,CTR_score,weighted_CTR_score
0,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.26,NaN,2022-05-19,119.0,63.0,1.0,...,CloseFaster,NoDTI,NaN,NaN,NaN,165.0,0.0,0.000000,NaN,NaN
1,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.15,NaN,2022-05-19,9.0,8.0,1.0,...,CloseFaster,NoDTI,NaN,NaN,NaN,165.0,0.0,0.000000,NaN,NaN
2,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.38,NaN,2022-05-19,26.0,17.0,1.0,...,CloseFaster,NoDTI,NaN,NaN,NaN,165.0,0.0,0.000000,NaN,NaN
3,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.19,NaN,2022-05-19,12.0,10.0,1.0,...,CloseFaster,NoDTI,NaN,NaN,NaN,165.0,0.0,0.000000,NaN,NaN
4,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,1.0,3.62,NaN,2022-05-19,247.0,150.0,1.0,...,CloserTwins,EarlyBird,NaN,NaN,NaN,165.0,0.0,0.004049,NaN,NaN

In [7]:
# Format 'date' column as 'YYYY-MM-DD'
creative['date'] = creative['date'].dt.strftime('%Y-%m-%d')

creative.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101874 entries, 0 to 101873
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   URL                 14205 non-null   object
 1   campaign            101801 non-null  object
 2   ad_format           101774 non-null  object
 3   clicks              89996 non-null   float64
 4   spend               97904 non-null   float64
 5   creative_size       73290 non-null   object
 6   date                101873 non-null  object
 7   impressions         101873 non-null  float64
 8   reach               80823 non-null   float64
 9   audience            101874 non-null  object
 10  platform            101873 non-null  object
 11  creative_family     100990 non-null  object
 12  creative_version    101348 non-null  object
 13  full_video_views    24447 non-null   float64
 14  video_starts        25460 non-null   float64
 15  follows             8400 non-null    float64
 16  days_away           101873 non-null  float64
 17  latest_report       101873 non-null  float64
 18  CTR                 89074 non-null   float64
 19  CTR_score           75013 non-null   float64
 20  weighted_CTR_score  75013 non-null   float64
dtypes: float64(12), object(9)
memory usage: 16.3+ MB

In [8]:
creative.head()

,URL,campaign,ad_format,clicks,spend,creative_size,date,impressions,reach,audience,...,creative_family,creative_version,full_video_views,video_starts,follows,days_away,latest_report,CTR,CTR_score,weighted_CTR_score
0,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.26,NaN,2022-05-19,119.0,63.0,1.0,...,CloseFaster,NoDTI,NaN,NaN,NaN,165.0,0.0,0.000000,NaN,NaN
1,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.15,NaN,2022-05-19,9.0,8.0,1.0,...,CloseFaster,NoDTI,NaN,NaN,NaN,165.0,0.0,0.000000,NaN,NaN
2,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.38,NaN,2022-05-19,26.0,17.0,1.0,...,CloseFaster,NoDTI,NaN,NaN,NaN,165.0,0.0,0.000000,NaN,NaN
3,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.19,NaN,2022-05-19,12.0,10.0,1.0,...,CloseFaster,NoDTI,NaN,NaN,NaN,165.0,0.0,0.000000,NaN,NaN
4,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,1.0,3.62,NaN,2022-05-19,247.0,150.0,1.0,...,CloserTwins,EarlyBird,NaN,NaN,NaN,165.0,0.0,0.004049,NaN,NaN

## Create a groupby and aggregate database for creative
*** This will be to ensure structure is in place for the merging of the newly developed part 1 dataset***

In [9]:

# Group by and aggregate, for the identified columns (aligned to part 1 data set attributes) and metrics

creative_grouped = creative.groupby(['date', 'audience', 'creative_family', 'creative_version', 
                                      'platform', 'ad_format']).agg({'clicks': 'sum','spend': 'sum','impressions': 'sum','reach': 'sum'}).reset_index()


creative_grouped.head()

,date,audience,creative_family,creative_version,platform,ad_format,clicks,spend,impressions,reach
0,2022-03-26,6.0,CloserTwins,15s,OTT,Desktop,0.0,15.83,466.0,454.0
1,2022-03-26,6.0,CloserTwins,15s,OTT,Mobile,0.0,241.89,7115.0,5082.0
2,2022-03-26,6.0,CloserTwins,15s,OTT,TV,0.0,1739.48,51162.0,40783.0
3,2022-03-26,6.0,CloserTwins,15s,OTT,Tablet,0.0,10.69,316.0,223.0
4,2022-03-26,6.0,CloserTwins,30s,OTT,Desktop,0.0,47.81,1407.0,1219.0

In [10]:
creative_grouped.tail()

,date,audience,creative_family,creative_version,platform,ad_format,clicks,spend,impressions,reach
32275,2022-10-31,5.0,UnfairAdvantage,All,LinkedIn,Carousel,36.0,931.154919,6767.0,0.0
32276,2022-10-31,5.0,UnfairAdvantage,NoDTI,LinkedIn,Single image,21.0,365.162914,1418.0,0.0
32277,2022-10-31,5.0,UnfairAdvantage,one_page,LinkedIn,Single image,15.0,281.991092,1210.0,0.0
32278,2022-10-31,6.0,SEM Ads,Change Wholesale,Google SEM,CPC,76.0,44.490000,222.0,0.0
32279,2022-10-31,6.0,SEM Ads,We Are America's CDFI,Google SEM,CPC,1.0,1.340000,18.0,0.0

In [11]:
creative_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32280 entries, 0 to 32279
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              32280 non-null  object
 1   audience          32280 non-null  object
 2   creative_family   32280 non-null  object
 3   creative_version  32280 non-null  object
 4   platform          32280 non-null  object
 5   ad_format         32280 non-null  object
 6   clicks            32280 non-null  float64
 7   spend             32280 non-null  float64
 8   impressions       32280 non-null  float64
 9   reach             32280 non-null  float64
dtypes: float64(4), object(6)
memory usage: 2.5+ MB

In [12]:
# how many observations are there?
len(creative_grouped)

32280

In [13]:
# Create a new column by concatenating specific columns
creative_grouped['concatenated'] = creative_grouped.apply(
    lambda row: f"{row['date']}_{row['audience']}_{row['creative_family']}_{row['creative_version']}_{row['platform']}_{row['ad_format']}",
    axis=1
)

creative_grouped.head()

,date,audience,creative_family,creative_version,platform,ad_format,clicks,spend,impressions,reach,concatenated
0,2022-03-26,6.0,CloserTwins,15s,OTT,Desktop,0.0,15.83,466.0,454.0,2022-03-26_6.0_CloserTwins_15s_OTT_Desktop
1,2022-03-26,6.0,CloserTwins,15s,OTT,Mobile,0.0,241.89,7115.0,5082.0,2022-03-26_6.0_CloserTwins_15s_OTT_Mobile
2,2022-03-26,6.0,CloserTwins,15s,OTT,TV,0.0,1739.48,51162.0,40783.0,2022-03-26_6.0_CloserTwins_15s_OTT_TV
3,2022-03-26,6.0,CloserTwins,15s,OTT,Tablet,0.0,10.69,316.0,223.0,2022-03-26_6.0_CloserTwins_15s_OTT_Tablet
4,2022-03-26,6.0,CloserTwins,30s,OTT,Desktop,0.0,47.81,1407.0,1219.0,2022-03-26_6.0_CloserTwins_30s_OTT_Desktop

In [14]:
creative_grouped.tail()

,date,audience,creative_family,creative_version,platform,ad_format,clicks,spend,impressions,reach,concatenated
32275,2022-10-31,5.0,UnfairAdvantage,All,LinkedIn,Carousel,36.0,931.154919,6767.0,0.0,2022-10-31_5.0_UnfairAdvantage_All_LinkedIn_Ca...
32276,2022-10-31,5.0,UnfairAdvantage,NoDTI,LinkedIn,Single image,21.0,365.162914,1418.0,0.0,2022-10-31_5.0_UnfairAdvantage_NoDTI_LinkedIn_...
32277,2022-10-31,5.0,UnfairAdvantage,one_page,LinkedIn,Single image,15.0,281.991092,1210.0,0.0,2022-10-31_5.0_UnfairAdvantage_one_page_Linked...
32278,2022-10-31,6.0,SEM Ads,Change Wholesale,Google SEM,CPC,76.0,44.490000,222.0,0.0,2022-10-31_6.0_SEM Ads_Change Wholesale_Google...
32279,2022-10-31,6.0,SEM Ads,We Are America's CDFI,Google SEM,CPC,1.0,1.340000,18.0,0.0,2022-10-31_6.0_SEM Ads_We Are America's CDFI_G...

In [15]:
# Create a CSV file as output.
creative_grouped.to_csv('creative_grouped.csv')

## Goal and General Merge Database refinement (of part 1)

In [16]:
# Import the data frame from part 1
GG_Merge = pd.read_csv('Goal_General_Merge_Final.csv')

In [17]:
GG_Merge.head()

,Unnamed: 0.1,Unnamed: 0,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,completions
0,0,0,16/08/2022,NaN,CloserTwins,Cutdown1A,Domain Display,Video,Campaign,1.0,0,73,76,2.0
1,1,1,16/06/2022,3.0,CloseFaster,NoDTI,Facebook,Single image,Campaign,1.0,0,0,137,NaN
2,2,2,29/08/2022,1.0,CloseFaster,MoreAll,User ID Display,NaN,Campaign,2.0,0,0,63,NaN
3,3,3,09/06/2022,4.0,UnfairAdvantage,one_page,LinkedIn,Single image,Campaign,2.0,0,50,144,NaN
4,4,4,03/08/2022,1.0,UnfairAdvantage,1099,Domain Display,Single image,Campaign,1.0,0,0,89,NaN

In [18]:
GG_Merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13021 entries, 0 to 13020
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0.1      13021 non-null  int64
 1   Unnamed: 0        13021 non-null  int64
 2   date              13021 non-null  object
 3   audience          12379 non-null  float64
 4   creative_family   12802 non-null  object
 5   creative_version  12744 non-null  object
 6   platform          12759 non-null  object
 7   ad_format         7922 non-null   object
 8   campaign_traffic  13021 non-null  object
 9   total_sessions    13020 non-null  float64
 10  total_bounces     13021 non-null  int64
 11  total_duration    13021 non-null  int64
 12  days_away         13021 non-null  int64
 13  completions       1068 non-null   float64
dtypes: float64(3), int64(5), object(6)
memory usage: 1.4+ MB

In [19]:
# turn audience to object
GG_Merge['audience'] = GG_Merge['audience'].astype(str)

In [20]:
# Convert 'date' column to datetime format with the current format
GG_Merge['date'] = pd.to_datetime(GG_Merge['date'], format='%d/%m/%Y')

GG_Merge.info()

GG_Merge.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13021 entries, 0 to 13020
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0.1      13021 non-null  int64
 1   Unnamed: 0        13021 non-null  int64
 2   date              13021 non-null  datetime64[ns]
 3   audience          13021 non-null  object
 4   creative_family   12802 non-null  object
 5   creative_version  12744 non-null  object
 6   platform          12759 non-null  object
 7   ad_format         7922 non-null   object
 8   campaign_traffic  13021 non-null  object
 9   total_sessions    13020 non-null  float64
 10  total_bounces     13021 non-null  int64
 11  total_duration    13021 non-null  int64
 12  days_away         13021 non-null  int64
 13  completions       1068 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(6)
memory usage: 1.4+ MB

,Unnamed: 0.1,Unnamed: 0,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,completions
0,0,0,2022-08-16,nan,CloserTwins,Cutdown1A,Domain Display,Video,Campaign,1.0,0,73,76,2.0
1,1,1,2022-06-16,3.0,CloseFaster,NoDTI,Facebook,Single image,Campaign,1.0,0,0,137,NaN
2,2,2,2022-08-29,1.0,CloseFaster,MoreAll,User ID Display,NaN,Campaign,2.0,0,0,63,NaN
3,3,3,2022-06-09,4.0,UnfairAdvantage,one_page,LinkedIn,Single image,Campaign,2.0,0,50,144,NaN
4,4,4,2022-08-03,1.0,UnfairAdvantage,1099,Domain Display,Single image,Campaign,1.0,0,0,89,NaN

In [21]:
GG_Merge.tail()

,Unnamed: 0.1,Unnamed: 0,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,completions
13016,13016,13016,2022-05-06,4.0,CloserTwins,Cutdown1B,LinkedIn,Video,Campaign,3.0,0,252,178,NaN
13017,13017,13017,2022-06-01,1.0,UnfairAdvantage,NoDTI,Domain Display,Single image,Campaign,1.0,0,2,152,NaN
13018,13018,13018,2022-04-23,2.0,UnfairAdvantage,one_page,Domain Display,NaN,Campaign,1.0,0,0,191,NaN
13019,13019,13019,2022-09-07,3.0,CloserTwins,EarlyBird,LinkedIn,Single image,Campaign,1.0,0,0,54,NaN
13020,13020,13020,2022-04-11,nan,NaN,NaN,NaN,NaN,General traffic,1565.0,0,169204,203,290.0

In [22]:
# Format 'date' column as 'YYYY-MM-DD'
GG_Merge['date'] = GG_Merge['date'].dt.strftime('%Y-%m-%d')

GG_Merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13021 entries, 0 to 13020
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0.1      13021 non-null  int64
 1   Unnamed: 0        13021 non-null  int64
 2   date              13021 non-null  object
 3   audience          13021 non-null  object
 4   creative_family   12802 non-null  object
 5   creative_version  12744 non-null  object
 6   platform          12759 non-null  object
 7   ad_format         7922 non-null   object
 8   campaign_traffic  13021 non-null  object
 9   total_sessions    13020 non-null  float64
 10  total_bounces     13021 non-null  int64
 11  total_duration    13021 non-null  int64
 12  days_away         13021 non-null  int64
 13  completions       1068 non-null   float64
dtypes: float64(2), int64(5), object(7)
memory usage: 1.4+ MB

In [23]:
GG_Merge.head()

,Unnamed: 0.1,Unnamed: 0,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,completions
0,0,0,2022-08-16,nan,CloserTwins,Cutdown1A,Domain Display,Video,Campaign,1.0,0,73,76,2.0
1,1,1,2022-06-16,3.0,CloseFaster,NoDTI,Facebook,Single image,Campaign,1.0,0,0,137,NaN
2,2,2,2022-08-29,1.0,CloseFaster,MoreAll,User ID Display,NaN,Campaign,2.0,0,0,63,NaN
3,3,3,2022-06-09,4.0,UnfairAdvantage,one_page,LinkedIn,Single image,Campaign,2.0,0,50,144,NaN
4,4,4,2022-08-03,1.0,UnfairAdvantage,1099,Domain Display,Single image,Campaign,1.0,0,0,89,NaN

In [24]:
GG_Merge.tail()

,Unnamed: 0.1,Unnamed: 0,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,completions
13016,13016,13016,2022-05-06,4.0,CloserTwins,Cutdown1B,LinkedIn,Video,Campaign,3.0,0,252,178,NaN
13017,13017,13017,2022-06-01,1.0,UnfairAdvantage,NoDTI,Domain Display,Single image,Campaign,1.0,0,2,152,NaN
13018,13018,13018,2022-04-23,2.0,UnfairAdvantage,one_page,Domain Display,NaN,Campaign,1.0,0,0,191,NaN
13019,13019,13019,2022-09-07,3.0,CloserTwins,EarlyBird,LinkedIn,Single image,Campaign,1.0,0,0,54,NaN
13020,13020,13020,2022-04-11,nan,NaN,NaN,NaN,NaN,General traffic,1565.0,0,169204,203,290.0

In [25]:
# View datatypes
GG_Merge.dtypes

Unnamed: 0.1          int64
Unnamed: 0            int64
date                 object
audience             object
creative_family      object
creative_version     object
platform             object
ad_format            object
campaign_traffic     object
total_sessions      float64
total_bounces         int64
total_duration        int64
days_away             int64
completions         float64
dtype: object

In [26]:
# Create a new column by concatenating specific columns
GG_Merge['concatenated'] = GG_Merge.apply(
    lambda row: f"{row['date']}_{row['audience']}_{row['creative_family']}_{row['creative_version']}_{row['platform']}_{row['ad_format']}",
    axis=1
)

GG_Merge.head()

,Unnamed: 0.1,Unnamed: 0,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,completions,concatenated
0,0,0,2022-08-16,nan,CloserTwins,Cutdown1A,Domain Display,Video,Campaign,1.0,0,73,76,2.0,2022-08-16_nan_CloserTwins_Cutdown1A_Domain Di...
1,1,1,2022-06-16,3.0,CloseFaster,NoDTI,Facebook,Single image,Campaign,1.0,0,0,137,NaN,2022-06-16_3.0_CloseFaster_NoDTI_Facebook_Sing...
2,2,2,2022-08-29,1.0,CloseFaster,MoreAll,User ID Display,NaN,Campaign,2.0,0,0,63,NaN,2022-08-29_1.0_CloseFaster_MoreAll_User ID Dis...
3,3,3,2022-06-09,4.0,UnfairAdvantage,one_page,LinkedIn,Single image,Campaign,2.0,0,50,144,NaN,2022-06-09_4.0_UnfairAdvantage_one_page_Linked...
4,4,4,2022-08-03,1.0,UnfairAdvantage,1099,Domain Display,Single image,Campaign,1.0,0,0,89,NaN,2022-08-03_1.0_UnfairAdvantage_1099_Domain Dis...

In [27]:
GG_Merge.tail()

,Unnamed: 0.1,Unnamed: 0,date,audience,creative_family,creative_version,platform,ad_format,campaign_traffic,total_sessions,total_bounces,total_duration,days_away,completions,concatenated
13016,13016,13016,2022-05-06,4.0,CloserTwins,Cutdown1B,LinkedIn,Video,Campaign,3.0,0,252,178,NaN,2022-05-06_4.0_CloserTwins_Cutdown1B_LinkedIn_...
13017,13017,13017,2022-06-01,1.0,UnfairAdvantage,NoDTI,Domain Display,Single image,Campaign,1.0,0,2,152,NaN,2022-06-01_1.0_UnfairAdvantage_NoDTI_Domain Di...
13018,13018,13018,2022-04-23,2.0,UnfairAdvantage,one_page,Domain Display,NaN,Campaign,1.0,0,0,191,NaN,2022-04-23_2.0_UnfairAdvantage_one_page_Domain...
13019,13019,13019,2022-09-07,3.0,CloserTwins,EarlyBird,LinkedIn,Single image,Campaign,1.0,0,0,54,NaN,2022-09-07_3.0_CloserTwins_EarlyBird_LinkedIn_...
13020,13020,13020,2022-04-11,nan,NaN,NaN,NaN,NaN,General traffic,1565.0,0,169204,203,290.0,2022-04-11_nan_nan_nan_nan_nan

In [28]:
# Create a CSV file as output for merged.
GG_Merge.to_csv('GG_Merge.csv')

## Part 3:  Merging the two dataframes of creative (part 2) and ggoals (part 1)

In [29]:
# Merging the two dataframes together
creative_goal_merge = creative_grouped.merge(GG_Merge[['concatenated', 'total_sessions', 'completions']], 
                                               on='concatenated',how='left')
# Print the merged DataFrame
print(creative_goal_merge)

             date audience  creative_family       creative_version  \
0      2022-03-26      6.0      CloserTwins                    15s
1      2022-03-26      6.0      CloserTwins                    15s
2      2022-03-26      6.0      CloserTwins                    15s
3      2022-03-26      6.0      CloserTwins                    15s
4      2022-03-26      6.0      CloserTwins                    30s
...           ...      ...              ...                    ...
32275  2022-10-31      5.0  UnfairAdvantage                    All
32276  2022-10-31      5.0  UnfairAdvantage                  NoDTI
32277  2022-10-31      5.0  UnfairAdvantage               one_page
32278  2022-10-31      6.0          SEM Ads       Change Wholesale
32279  2022-10-31      6.0          SEM Ads  We Are America's CDFI

         platform     ad_format  clicks        spend  impressions    reach  \
0             OTT       Desktop     0.0    15.830000        466.0    454.0
1             OTT        Mobile     0.0   241.890000       7115.0   5082.0
2             OTT            TV     0.0  1739.480000      51162.0  40783.0
3             OTT        Tablet     0.0    10.690000        316.0    223.0
4             OTT       Desktop     0.0    47.810000       1407.0   1219.0
...           ...           ...     ...          ...          ...      ...
32275    LinkedIn      Carousel    36.0   931.154919       6767.0      0.0
32276    LinkedIn  Single image    21.0   365.162914       1418.0      0.0
32277    LinkedIn  Single image    15.0   281.991092       1210.0      0.0
32278  Google SEM           CPC    76.0    44.490000        222.0      0.0
32279  Google SEM           CPC     1.0     1.340000         18.0      0.0

                                            concatenated  total_sessions  \
0             2022-03-26_6.0_CloserTwins_15s_OTT_Desktop             NaN
1              2022-03-26_6.0_CloserTwins_15s_OTT_Mobile             NaN
2                  2022-03-26_6.0_CloserTwins_15s_OTT_TV             NaN
3              2022-03-26_6.0_CloserTwins_15s_OTT_Tablet             NaN
4             2022-03-26_6.0_CloserTwins_30s_OTT_Desktop             NaN
...                                                  ...             ...
32275  2022-10-31_5.0_UnfairAdvantage_All_LinkedIn_Ca...            24.0
32276  2022-10-31_5.0_UnfairAdvantage_NoDTI_LinkedIn_...            15.0
32277  2022-10-31_5.0_UnfairAdvantage_one_page_Linked...            13.0
32278  2022-10-31_6.0_SEM Ads_Change Wholesale_Google...           116.0
32279  2022-10-31_6.0_SEM Ads_We Are America's CDFI_G...             1.0

       completions
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
32275          1.0
32276          NaN
32277          NaN
32278         26.0
32279          NaN

[32280 rows x 13 columns]

In [30]:
creative_goal_merge.head()

,date,audience,creative_family,creative_version,platform,ad_format,clicks,spend,impressions,reach,concatenated,total_sessions,completions
0,2022-03-26,6.0,CloserTwins,15s,OTT,Desktop,0.0,15.83,466.0,454.0,2022-03-26_6.0_CloserTwins_15s_OTT_Desktop,NaN,NaN
1,2022-03-26,6.0,CloserTwins,15s,OTT,Mobile,0.0,241.89,7115.0,5082.0,2022-03-26_6.0_CloserTwins_15s_OTT_Mobile,NaN,NaN
2,2022-03-26,6.0,CloserTwins,15s,OTT,TV,0.0,1739.48,51162.0,40783.0,2022-03-26_6.0_CloserTwins_15s_OTT_TV,NaN,NaN
3,2022-03-26,6.0,CloserTwins,15s,OTT,Tablet,0.0,10.69,316.0,223.0,2022-03-26_6.0_CloserTwins_15s_OTT_Tablet,NaN,NaN
4,2022-03-26,6.0,CloserTwins,30s,OTT,Desktop,0.0,47.81,1407.0,1219.0,2022-03-26_6.0_CloserTwins_30s_OTT_Desktop,NaN,NaN

In [31]:
creative_goal_merge.tail()

,date,audience,creative_family,creative_version,platform,ad_format,clicks,spend,impressions,reach,concatenated,total_sessions,completions
32275,2022-10-31,5.0,UnfairAdvantage,All,LinkedIn,Carousel,36.0,931.154919,6767.0,0.0,2022-10-31_5.0_UnfairAdvantage_All_LinkedIn_Ca...,24.0,1.0
32276,2022-10-31,5.0,UnfairAdvantage,NoDTI,LinkedIn,Single image,21.0,365.162914,1418.0,0.0,2022-10-31_5.0_UnfairAdvantage_NoDTI_LinkedIn_...,15.0,NaN
32277,2022-10-31,5.0,UnfairAdvantage,one_page,LinkedIn,Single image,15.0,281.991092,1210.0,0.0,2022-10-31_5.0_UnfairAdvantage_one_page_Linked...,13.0,NaN
32278,2022-10-31,6.0,SEM Ads,Change Wholesale,Google SEM,CPC,76.0,44.490000,222.0,0.0,2022-10-31_6.0_SEM Ads_Change Wholesale_Google...,116.0,26.0
32279,2022-10-31,6.0,SEM Ads,We Are America's CDFI,Google SEM,CPC,1.0,1.340000,18.0,0.0,2022-10-31_6.0_SEM Ads_We Are America's CDFI_G...,1.0,NaN

In [32]:
# Create a CSV file as output for merged.
creative_goal_merge.to_csv('creative_goal_merge.csv')

## Refinement of both original datafiles
**Remove ad format column and clean the creative version values. This was refined in excel for simplicity and speed

## Cleaning creative file

In [33]:
# Import the data frame
Creative_Excl_Ad_Format = pd.read_csv('creative_grouped.csv')

In [34]:
Creative_Excl_Ad_Format.head()

,Unnamed: 0,date,audience,creative_family,creative_version,platform,ad_format,clicks,spend,impressions,reach,concatenated
0,0,2022-03-26,6.0,CloserTwins,15s,OTT,Desktop,0.0,15.83,466.0,454.0,2022-03-26_6.0_CloserTwins_15s_OTT_Desktop
1,1,2022-03-26,6.0,CloserTwins,15s,OTT,Mobile,0.0,241.89,7115.0,5082.0,2022-03-26_6.0_CloserTwins_15s_OTT_Mobile
2,2,2022-03-26,6.0,CloserTwins,15s,OTT,TV,0.0,1739.48,51162.0,40783.0,2022-03-26_6.0_CloserTwins_15s_OTT_TV
3,3,2022-03-26,6.0,CloserTwins,15s,OTT,Tablet,0.0,10.69,316.0,223.0,2022-03-26_6.0_CloserTwins_15s_OTT_Tablet
4,4,2022-03-26,6.0,CloserTwins,30s,OTT,Desktop,0.0,47.81,1407.0,1219.0,2022-03-26_6.0_CloserTwins_30s_OTT_Desktop

In [35]:
# View datatypes
Creative_Excl_Ad_Format.dtypes

Unnamed: 0            int64
date                 object
audience            float64
creative_family      object
creative_version     object
platform             object
ad_format            object
clicks              float64
spend               float64
impressions         float64
reach               float64
concatenated         object
dtype: object

In [36]:
# turn audience to object
Creative_Excl_Ad_Format['audience'] = Creative_Excl_Ad_Format['audience'].astype(str)

In [37]:
Creative_Excl_Ad_Format.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32280 entries, 0 to 32279
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        32280 non-null  int64
 1   date              32280 non-null  object
 2   audience          32280 non-null  object
 3   creative_family   32280 non-null  object
 4   creative_version  32280 non-null  object
 5   platform          32280 non-null  object
 6   ad_format         32280 non-null  object
 7   clicks            32280 non-null  float64
 8   spend             32280 non-null  float64
 9   impressions       32280 non-null  float64
 10  reach             32280 non-null  float64
 11  concatenated      32280 non-null  object
dtypes: float64(4), int64(1), object(7)
memory usage: 3.0+ MB

In [38]:
# Group by and aggregate, for the identified columns and metrics

creative_ExclAF = Creative_Excl_Ad_Format.groupby(['date', 'audience', 'creative_family', 'creative_version', 
                                      'platform']).agg({'clicks': 'sum','spend': 'sum','impressions': 'sum','reach': 'sum'}).reset_index()


creative_ExclAF.head()

,date,audience,creative_family,creative_version,platform,clicks,spend,impressions,reach
0,2022-03-26,6.0,CloserTwins,15s,OTT,0.0,2007.89,59059.0,46542.0
1,2022-03-26,6.0,CloserTwins,30s,OTT,0.0,5350.32,157366.0,103407.0
2,2022-03-27,6.0,CloserTwins,15s,OTT,0.0,1767.91,52000.0,41696.0
3,2022-03-27,6.0,CloserTwins,30s,OTT,0.0,4946.23,145482.0,104088.0
4,2022-03-28,6.0,CloserTwins,15s,OTT,0.0,1738.00,51118.0,43046.0

In [39]:
# how many observations are there?
len(creative_ExclAF)

26702

In [40]:
# Create a new column by concatenating specific columns
creative_ExclAF['concatenated'] = creative_grouped.apply(
    lambda row: f"{row['date']}_{row['audience']}_{row['creative_family']}_{row['creative_version']}_{row['platform']}",
    axis=1)

creative_ExclAF.head()

,date,audience,creative_family,creative_version,platform,clicks,spend,impressions,reach,concatenated
0,2022-03-26,6.0,CloserTwins,15s,OTT,0.0,2007.89,59059.0,46542.0,2022-03-26_6.0_CloserTwins_15s_OTT
1,2022-03-26,6.0,CloserTwins,30s,OTT,0.0,5350.32,157366.0,103407.0,2022-03-26_6.0_CloserTwins_15s_OTT
2,2022-03-27,6.0,CloserTwins,15s,OTT,0.0,1767.91,52000.0,41696.0,2022-03-26_6.0_CloserTwins_15s_OTT
3,2022-03-27,6.0,CloserTwins,30s,OTT,0.0,4946.23,145482.0,104088.0,2022-03-26_6.0_CloserTwins_15s_OTT
4,2022-03-28,6.0,CloserTwins,15s,OTT,0.0,1738.00,51118.0,43046.0,2022-03-26_6.0_CloserTwins_30s_OTT

*** The concatenation will allow for a merge between the creative data frame and the group_goals data file***

In [41]:
creative_ExclAF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26702 entries, 0 to 26701
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              26702 non-null  object
 1   audience          26702 non-null  object
 2   creative_family   26702 non-null  object
 3   creative_version  26702 non-null  object
 4   platform          26702 non-null  object
 5   clicks            26702 non-null  float64
 6   spend             26702 non-null  float64
 7   impressions       26702 non-null  float64
 8   reach             26702 non-null  float64
 9   concatenated      26702 non-null  object
dtypes: float64(4), object(6)
memory usage: 2.0+ MB

In [42]:
# Create a CSV file as output.
creative_ExclAF.to_csv('creative_ExclAF.csv')

## Cleaning goal_group csv

In [ ]:
# Import the data frame
Goal_Excl_Ad_Format = pd.read_csv('GG_Merge.csv')

In [ ]:
Goal_Excl_Ad_Format.head()

In [ ]:
Goal_Excl_Ad_Format.tail()

In [ ]:
# Convert 'date' column to datetime format with the current format
Goal_Excl_Ad_Format['date'] = pd.to_datetime(Goal_Excl_Ad_Format['date'], format='%d/%m/%Y')

Goal_Excl_Ad_Format.info()

Goal_Excl_Ad_Format.head()

In [ ]:
# Format 'date' column as 'YYYY-MM-DD'
Goal_Excl_Ad_Format['date'] = Goal_Excl_Ad_Format['date'].dt.strftime('%Y-%m-%d')

Goal_Excl_Ad_Format.info()

In [ ]:
Goal_Excl_Ad_Format.tail()

In [ ]:
# View datatypes
Goal_Excl_Ad_Format.dtypes

In [ ]:
# Group by and aggregate, for the identified columns and metrics

Goal_Excl_AF = Goal_Excl_Ad_Format.groupby(['date', 'audience', 'creative_family', 'creative_version', 
                                      'platform']).agg({'total_sessions': 'sum','total_bounces': 'sum','completions': 'sum'}).reset_index()


Goal_Excl_AF.head()

In [ ]:
# Change outputs of OTT_15 & 30 to an output consistent with the creative dataframe
Goal_Excl_AF['creative_version'] = Goal_Excl_AF['creative_version'].replace({'OTT_15': '15s', 'OTT_30': '30s'})
Goal_Excl_AF.head()

In [ ]:
Goal_Excl_AF.tail()

In [ ]:
# how many observations are there?
len(Goal_Excl_AF)

In [ ]:
# Create a new column by concatenating specific columns
Goal_Excl_AF['concatenated'] = Goal_Excl_AF.apply(
    lambda row: f"{row['date']}_{row['audience']}_{row['creative_family']}_{row['creative_version']}_{row['platform']}",
    axis=1)

Goal_Excl_AF.head()

In [ ]:
Goal_Excl_AF.info()

In [ ]:
# turn audience to object
Goal_Excl_AF['audience'] = Goal_Excl_AF['audience'].astype(str)

In [ ]:
Goal_Excl_AF.info()

In [ ]:
# Create a CSV file as output.
Goal_Excl_AF.to_csv('Goal_Excl_AF.csv')

## Part 4. Merging the two dataframes of i) creative and ii) goals_ Excl_AF

In [44]:
# Import the data frame
creative_ExclAF_final = pd.read_csv('creative_ExclAF_final.csv')

In [45]:
creative_ExclAF_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26702 entries, 0 to 26701
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        26702 non-null  int64
 1   date              26702 non-null  object
 2   audience          26702 non-null  int64
 3   creative_family   26702 non-null  object
 4   creative_version  26702 non-null  object
 5   platform          26702 non-null  object
 6   clicks            26702 non-null  int64
 7   spend             26702 non-null  float64
 8   impressions       26702 non-null  int64
 9   reach             26702 non-null  int64
 10  concatenated      26702 non-null  object
dtypes: float64(1), int64(5), object(5)
memory usage: 2.2+ MB

In [46]:
# turn audience to object
creative_ExclAF_final['audience'] = creative_ExclAF_final['audience'].astype(str)

In [48]:
creative_ExclAF_final.head()
creative_ExclAF_final.tail()

,Unnamed: 0,date,audience,creative_family,creative_version,platform,clicks,spend,impressions,reach,concatenated
26697,26697,31/10/2022,5,UnfairAdvantage,All,LinkedIn,36,931.154919,6767,0,44865_5_UnfairAdvantage_All_LinkedIn
26698,26698,31/10/2022,5,UnfairAdvantage,NoDTI,LinkedIn,21,365.162914,1418,0,44865_5_UnfairAdvantage_NoDTI_LinkedIn
26699,26699,31/10/2022,5,UnfairAdvantage,one_page,LinkedIn,15,281.991092,1210,0,44865_5_UnfairAdvantage_one_page_LinkedIn
26700,26700,31/10/2022,6,SEM Ads,Change Wholesale,Google SEM,76,44.490000,222,0,44865_6_SEM Ads_Change Wholesale_Google SEM
26701,26701,31/10/2022,6,SEM Ads,We Are America's CDFI,Google SEM,1,1.340000,18,0,44865_6_SEM Ads_We Are America's CDFI_Google SEM

In [49]:
# Import the data frame
Goal_Excl_AF_final = pd.read_csv('Goal_Excl_AF_final.csv')

In [50]:
# Merging the two dataframes together
creative_goal_Excl_AF = creative_ExclAF_final.merge(Goal_Excl_AF_final[['concatenated', 'total_sessions', 'completions']], 
                                               on='concatenated',how='left')
# Print the merged DataFrame
print(creative_goal_Excl_AF)

       Unnamed: 0        date audience  creative_family  \
0               0  26/03/2022        6      CloserTwins
1               1  26/03/2022        6      CloserTwins
2               2  27/03/2022        6      CloserTwins
3               3  27/03/2022        6      CloserTwins
4               4  28/03/2022        6      CloserTwins
...           ...         ...      ...              ...
26697       26697  31/10/2022        5  UnfairAdvantage
26698       26698  31/10/2022        5  UnfairAdvantage
26699       26699  31/10/2022        5  UnfairAdvantage
26700       26700  31/10/2022        6          SEM Ads
26701       26701  31/10/2022        6          SEM Ads

            creative_version    platform  clicks        spend  impressions  \
0                        15s         OTT       0  2007.890000        59059
1                        30s         OTT       0  5350.320000       157366
2                        15s         OTT       0  1767.910000        52000
3                        30s         OTT       0  4946.230000       145482
4                        15s         OTT       0  1738.000000        51118
...                      ...         ...     ...          ...          ...
26697                    All    LinkedIn      36   931.154919         6767
26698                  NoDTI    LinkedIn      21   365.162914         1418
26699               one_page    LinkedIn      15   281.991092         1210
26700       Change Wholesale  Google SEM      76    44.490000          222
26701  We Are America's CDFI  Google SEM       1     1.340000           18

        reach                                      concatenated  \
0       46542                       44646_6_CloserTwins_15s_OTT
1      103407                       44646_6_CloserTwins_30s_OTT
2       41696                       44647_6_CloserTwins_15s_OTT
3      104088                       44647_6_CloserTwins_30s_OTT
4       43046                       44648_6_CloserTwins_15s_OTT
...       ...                                               ...
26697       0              44865_5_UnfairAdvantage_All_LinkedIn
26698       0            44865_5_UnfairAdvantage_NoDTI_LinkedIn
26699       0         44865_5_UnfairAdvantage_one_page_LinkedIn
26700       0       44865_6_SEM Ads_Change Wholesale_Google SEM
26701       0  44865_6_SEM Ads_We Are America's CDFI_Google SEM

       total_sessions  completions
0                 NaN          NaN
1                 NaN          NaN
2                 NaN          NaN
3                 NaN          NaN
4                 NaN          NaN
...               ...          ...
26697            24.0          1.0
26698            15.0          0.0
26699            13.0          0.0
26700           116.0         26.0
26701             1.0          0.0

[26702 rows x 13 columns]

In [51]:
creative_goal_Excl_AF.head()

,Unnamed: 0,date,audience,creative_family,creative_version,platform,clicks,spend,impressions,reach,concatenated,total_sessions,completions
0,0,26/03/2022,6,CloserTwins,15s,OTT,0,2007.89,59059,46542,44646_6_CloserTwins_15s_OTT,NaN,NaN
1,1,26/03/2022,6,CloserTwins,30s,OTT,0,5350.32,157366,103407,44646_6_CloserTwins_30s_OTT,NaN,NaN
2,2,27/03/2022,6,CloserTwins,15s,OTT,0,1767.91,52000,41696,44647_6_CloserTwins_15s_OTT,NaN,NaN
3,3,27/03/2022,6,CloserTwins,30s,OTT,0,4946.23,145482,104088,44647_6_CloserTwins_30s_OTT,NaN,NaN
4,4,28/03/2022,6,CloserTwins,15s,OTT,0,1738.00,51118,43046,44648_6_CloserTwins_15s_OTT,NaN,NaN

In [52]:
creative_goal_Excl_AF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26702 entries, 0 to 26701
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        26702 non-null  int64
 1   date              26702 non-null  object
 2   audience          26702 non-null  object
 3   creative_family   26702 non-null  object
 4   creative_version  26702 non-null  object
 5   platform          26702 non-null  object
 6   clicks            26702 non-null  int64
 7   spend             26702 non-null  float64
 8   impressions       26702 non-null  int64
 9   reach             26702 non-null  int64
 10  concatenated      26702 non-null  object
 11  total_sessions    9388 non-null   float64
 12  completions       9388 non-null   float64
dtypes: float64(3), int64(4), object(6)
memory usage: 2.9+ MB

In [54]:
creative_goal_Excl_AF.tail(25)

,Unnamed: 0,date,audience,creative_family,creative_version,platform,clicks,spend,impressions,reach,concatenated,total_sessions,completions
26677,26677,31/10/2022,1,UnfairAdvantage,one_page,LinkedIn,0,10.624837,21,0,44865_1_UnfairAdvantage_one_page_LinkedIn,NaN,NaN
26678,26678,31/10/2022,2,UnfairAdvantage,1099,LinkedIn,0,1.278954,9,0,44865_2_UnfairAdvantage_1099_LinkedIn,NaN,NaN
26679,26679,31/10/2022,2,UnfairAdvantage,All,LinkedIn,0,9.114402,30,0,44865_2_UnfairAdvantage_All_LinkedIn,NaN,NaN
26680,26680,31/10/2022,2,UnfairAdvantage,NoDTI,LinkedIn,0,3.037016,10,0,44865_2_UnfairAdvantage_NoDTI_LinkedIn,NaN,NaN
26681,26681,31/10/2022,2,UnfairAdvantage,one_page,LinkedIn,0,1.185716,6,0,44865_2_UnfairAdvantage_one_page_LinkedIn,NaN,NaN
26682,26682,31/10/2022,3,UnfairAdvantage,1099,LinkedIn,0,6.425041,8,0,44865_3_UnfairAdvantage_1099_LinkedIn,NaN,NaN
26683,26683,31/10/2022,3,UnfairAdvantage,All,LinkedIn,0,13.519733,28,0,44865_3_UnfairAdvantage_All_LinkedIn,NaN,NaN
26684,26684,31/10/2022,3,UnfairAdvantage,NoDTI,LinkedIn,0,7.767133,11,0,44865_3_UnfairAdvantage_NoDTI_LinkedIn,NaN,NaN
26685,26685,31/10/2022,3,UnfairAdvantage,one_page,LinkedIn,0,2.505250,9,0,44865_3_UnfairAdvantage_one_page_LinkedIn,NaN,NaN
26686,26686,31/10/2022,4,CloseFaster,FasterAll,User ID Display,21,53.284149,11036,6253,44865_4_CloseFaster_FasterAll_User ID Display,33.0,0.0
26687,26687,31/10/2022,4,CloseFaster,MoreAll,User ID Display,16,53.198689,10989,6297,44865_4_CloseFaster_MoreAll_User ID Display,29.0,0.0
26688,26688,31/10/2022,4,CloserTwins,MoreLoansAll,User ID Display,12,44.517655,9184,5551,44865_4_CloserTwins_MoreLoansAll_User ID Display,NaN,NaN
26689,26689,31/10/2022,4,UnfairAdvantage,1099,LinkedIn,10,414.188910,2184,0,44865_4_UnfairAdvantage_1099_LinkedIn,12.0,0.0
26690,26690,31/10/2022,4,UnfairAdvantage,All,LinkedIn,98,827.473508,34146,0,44865_4_UnfairAdvantage_All_LinkedIn,83.0,0.0
26691,26691,31/10/2022,4,UnfairAdvantage,NoDTI,LinkedIn,23,452.714878,2320,0,44865_4_UnfairAdvantage_NoDTI_LinkedIn,17.0,1.0
26692,26692,31/10/2022,4,UnfairAdvantage,Static,User ID Display,50,159.626745,33098,18857,44865_4_UnfairAdvantage_Static_User ID Display,NaN,NaN
26693,26693,31/10/2022,4,UnfairAdvantage,one_page,LinkedIn,14,475.290338,2341,0,44865_4_UnfairAdvantage_one_page_LinkedIn,8.0,0.0
26694,26694,31/10/2022,5,CloseFaster,FasterReg,User ID Display,26,72.015036,14040,2239,44865_5_CloseFaster_FasterReg_User ID Display,24.0,0.0
26695,26695,31/10/2022,5,CloseFaster,MoreNoReg,User ID Display,1,1.469987,287,33,44865_5_CloseFaster_MoreNoReg_User ID Display,3.0,0.0
26696,26696,31/10/2022,5,UnfairAdvantage,1099,LinkedIn,8,239.882805,1210,0,44865_5_UnfairAdvantage_1099_LinkedIn,6.0,0.0
26697,26697,31/10/2022,5,UnfairAdvantage,All,LinkedIn,36,931.154919,6767,0,44865_5_UnfairAdvantage_All_LinkedIn,24.0,1.0
26698,26698,31/10/2022,5,UnfairAdvantage,NoDTI,LinkedIn,21,365.162914,1418,0,44865_5_UnfairAdvantage_NoDTI_LinkedIn,15.0,0.0
26699,26699,31/10/2022,5,UnfairAdvantage,one_page,LinkedIn,15,281.991092,1210,0,44865_5_UnfairAdvantage_one_page_LinkedIn,13.0,0.0
26700,26700,31/10/2022,6,SEM Ads,Change Wholesale,Google SEM,76,44.490000,222,0,44865_6_SEM Ads_Change Wholesale_Google SEM,116.0,26.0
26701,26701,31/10/2022,6,SEM Ads,We Are America's CDFI,Google SEM,1,1.340000,18,0,44865_6_SEM Ads_We Are America's CDFI_Google SEM,1.0,0.0

In [55]:
# Create a CSV file as output.
creative_goal_Excl_AF.to_csv('Creative_Goal_Merged_2ndSept.csv')